<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1 style="color: darkcyan;text-align:center;margin-top:50px;">Welcome to the Registration page</h1>
     <div class="card" style="margin-top: 60px;">
  <div class="card-body" style="text-align: center;">
     <form action="/register" method="POST" style="border: 1px solid black;padding:10px;">
        Name : <input type="text" name="name" placeholder="Enter your name" required /><br /><br />
        USN : <input type="text" name="usn" placeholder="Enter your USN" required /><br /><br />
        Date of birth : <input type="date" name="date" placeholder="Enter your date of birth" required/><br /><br />
        Gender : <input type="radio" name="gender" value="Male"/>Male  <input type="radio" name="gender" value="Female "/>Female<br /><br />
        Mobile no. : <input type="number" name="phone" placeholder="Enter your mobile number" required/><br /><br />
        E-mail : <input type="text" name="email" placeholder="Enter your email address" required/><br /><br />
        Program : <input type="text" name="program" placeholder="Enter your program eg.:Bachelor of Engineering" required /><br /><br />
        Branch : <input type="text" name="branch" placeholder="Enter your branch eg.:Computer Science" required /><br /><br />
        Semester : <input type="number" name="semester" placeholder="Enter your semester" required /><br /><br />
        Password: <input type="password" name="password" placeholder="Enter your password" required/><br /><br />
        <input class="btn btn-primary" type="submit" value="Submit" style="margin-left: 200px;"/>
        <a href="/search" style="margin-left: 50px;"><button type="button" class="btn btn-primary">Search</button></a>
        <a href="/delete" style="margin-left: 50px;"><button type="button" class="btn btn-danger">Delete</button></a>
        <a href="/index" style="margin-left: 50px;"><button type="button" class="btn btn-primary">Back</button></a>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>